.sidebar{
    display: inline-block;
    position: relative;
    left: 10px;
    top: 10px;
}

.portrait{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 400px;
}

.page{
    width: 650px;
    position: relative;
    display: inline-block;
    left: 25px;
}
