.theUniverse{
    display: block;
    background-color: beige;
}

.theBody{
    width: 1000px;
    display: block;
    margin: auto;
    overflow: auto;
    background-color: blanchedalmond;
}

.header_class{
    display: block;
    height: auto;
    overflow: auto;
    background-color: #7a0101;
    border-radius: 25px;
}

.myTable{
    width: 1000px;
}

.myName{
    display: inline-block;
    color: bisque;
}

.links{
    list-style-type: none;
}

li{
    display: inline-block;
}
.myInfo{
    position: relative;
    list-style-type: none;
    color: bisque;
    left: 375px;
}

.UMN_logo{
    display: block;
    width: 40%;
    height: 50%;
    margin-left: auto;
}