.theUniverse{
    display: block;
    background-color: beige;
}

.theBody{
    width: 1000px;
    display: block;
    margin: auto;
    overflow: auto;
    background-color: blanchedalmond;
}

.header_class{
    display: block;
    height: auto;
    overflow: auto;
    background-color: #7a0101;
    border-radius: 25px;
}

.myName{
    display: inline-block;
    color: bisque;
}
.myInfo{
    list-style-type: none;
    color: bisque;
}

.UMN_logo{
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    right: 0px;
}